:root {
  --golden-brown: #886315;
  --brown: #6b4d0d;
  --light-cream: #e7e2d0;
  --white: #fff;
  --lightgrey: #f2f2f2;
  --grey: #808080;
  --primary-grey: #ced4da;
}

body {
  font-family: 'muli', 'Helvetica', 'Arial', sans-serif;
  background-color: var(--light-cream);
}

header .navbar-collapse {
  width: calc(100% - 250px);
}

header .navbar-collapse ul {
  width: 100%;
  justify-content: end;
  padding-right: 24px;
}

.hero-section .main-carousel img {
  width: 100vw;
}

.main-carousel {
  display: flex;
}

.main-carousel.flickity-enabled {
  display: block;
}

.hero-section .flickity-page-dots {
  bottom: 16px;
}

.hero-section .flickity-page-dots .dot {
  background-color: var(--white);
}

.header {
  width: 78%;
}

.section {
  width: 77%;
  position: relative;
}

.header .navbar-brand {
  width: 250px;
}

.header img,
.price-section img {
  width: 100%;
}

.hero-section {
  width: 78%;
  position: relative;
}

.background-default {
  background-color: var(--white);
}

.section-title {
  color: var(--golden-brown);
  border: 2px solid var(--golden-brown);
  border-radius: 30px;
  padding: 5px 24px;
  display: inline-block;
  font-size: 20px;
}

.section-wrapper {
  padding: 24px;
}

.hero-section .project-info {
  max-width: 316px;
  padding: 12px;
  border-radius: 14px;
  position: absolute;
  top: 83px;
  left: 16px;
}

.project-info h3 {
  color: var(--golden-brown);
}

.project-info .project-land-area {
  background-color: #e8e8e8;
}

.project-info .project-call-priority {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: block;
  font-size: 14px;
  margin: 5px 0;
  color: var(--white);
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  background: var(--golden-brown);
}

.project-info ul {
  text-align: left;
  list-style-type: none;
  background-color: var(--golden-brown);
  color: var(--white);
  padding-left: 16px;
}

.project-info p span {
  font-size: 24px;
  color: var(--golden-brown);
}

.overview-section h2 {
  color: var(--golden-brown);
}

.overview-section .godrej-address {
  color: var(--golden-brown);
  font-size: 22px;
}

button.request-btn {
  padding: 6px 24px;
  border: 1px solid var(--golden-brown);
  color: var(--golden-brown);
  position: relative;
  z-index: 99;
}

.godrej-location .btn {
  padding: 6px 24px;
  border: 1px solid var(--golden-brown);
  color: var(--golden-brown);
  position: relative;
  z-index: 99;
}

button.request-btn:hover,
.godrej-location .btn:hover {
  background-color: var(--golden-brown);
  color: var(--white);
}

.godrej-location iframe {
  width: 100%;
}

.section-link {
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: block;
  top: -59px;
  height: 59px;
}

.price-section tbody tr:first-of-type,
.price-section tbody tr:last-of-type {
  --bs-table-bg: var(--lightgrey);
}

.price-section .section-wrapper {
  padding: 24px 85px 24px 24px;
}

.price-section .property-card button {
  position: relative;
  z-index: 99;
}

button.gradient-effect,
button.gradient-effect:hover,
h5.gradient-effect,
h5.gradient-effect:hover {
  text-shadow: 0px 3px 6px var(--golden-brown);
  background: linear-gradient(-45deg, var(--golden-brown), var(--brown), var(--golden-brown), var(--brown));
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  -moz-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
  color: var(--white);
  border-radius: 0;
}

.price-section .col-md-8 .btn {
  width: auto;
  border-radius: 4px;
}

.price-section thead th,
.price-section tbody td {
  padding: 12.4px;
}

.section-subtitle {
  font-family: 'roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
}

.floorPlan-section img {
  width: 100%;
  height: 216px;
  object-fit: cover;
  filter: blur(2px);
}

.floorPlan-section .master-plan img {
  height: 258px;
}

.floorPlan-section .plan-item {
  position: relative;
  overflow: hidden;
}

.floorPlan-section .view-plan-btn,
.floorPlan-section .plan-enquire-btn {
  text-transform: uppercase;
  border: 0.1vw solid #e0e0e0;
  background: transparent;
  border-radius: 0;
  position: absolute;
  top: -15%;
  left: 50%;
  z-index: 222;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  padding: 8px 16px;
  width: 65%;
  text-align: center;
}

.floorPlan-section .plan-item:hover .view-plan-btn,
.floorPlan-section .plan-item:hover .plan-enquire-btn {
  color: #e0e0e0;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  transition: all 0.8s ease-in-out;
}

.floorPlan-section .plan-item-overlay {
  position: absolute;
  bottom: -100%;
  z-index: 111;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
}

.floorPlan-section .plan-item:hover .plan-item-overlay {
  left: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.amenities-section .carousel-cell {
  width: 313px;
  height: 216px;
  padding: 8px;
  position: relative;
}

.amenities-section .carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.amenities-section .amenity-overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 111;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.amenities-section .amenity-overlay span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: var(--white);
  border-left: 3px solid var(--golden-brown);
  padding-left: 8px;
  line-height: 18px;
}

.gallery-section img {
  width: 100%;
  /* height: 177px; */
  opacity: 1;
  transition: all 0.5s;
  border-radius: 3px;
  object-fit: cover;
}

/* .godrej-location .location-info-row span {
  display: inline-block;
  width: 50%;
} */

.virtualTour-section img {
  width: 100%;
}

/* .virtualTour-section .virtual-tour-block {
  position: relative;
} */

/* .virtualTour-section .tour-info-text {
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
} */

/* .virtualTour-section .virtual-tour-block p {
  font-size: 24px;
} */

/* .play-icon {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  mask: url('https://newlaunch-sector89gurgaon.com/godrej/assets/css/play.svg') no-repeat center;
} */

.footer span {
  font-size: 12px;
  text-align: left;
}

.footer span button {
  color: var(--golden-brown);
  text-decoration: underline;
  font-size: 12px;
  padding: 0;
}

.footer span button:hover {
  text-decoration: none;
}

.footer .section-wrapper {
  padding: 24px 30px;
}

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 22%;
  background-color: var(--white);
  height: 100%;
}

.side-bar .callback-btn {
  border-radius: 4px;
}

.side-bar .callback-btn,
.enquire-btn,
.price-section .col-md-8 .btn {
  padding: 4px 12px;
  width: 160px;
  margin: 0 auto;
  display: block;
  border: none;
  transition: all .3s ease;
  font-size: 15px;
  border-radius: 4px !important;
}

.side-bar .callback-btn:hover,
.price-section .col-md-8 .btn:hover,
.project-info .enquire-btn:hover {
  background-color: var(--golden-brown);
  color: var(--white);
  border: none;
  transform: scale(1.08);
  border-radius: 4px;
}

.side-bar .call-btn {
  text-decoration: none;
  background-color: transparent;
  color: var(--golden-brown);
  padding: 8px 24px;
  border: 1px solid var(--golden-brown);
  border-radius: 8px;
  display: inline-block;
  width: 100%;
}

.side-bar .call-btn:hover {
  color: var(--white);
  background-color: var(--golden-brown);
}

.side-bar h5 {
  font-size: 18px;
  text-align: center;
}

.side-bar .side-bar-btns {
  background-color: var(--light-cream);
  padding: 8px 24px;
}

.side-bar form {
  padding: 16px;
}

.side-bar .form-row {
  width: 100%;
}

.side-bar .form-row input {
  border: none;
  border-bottom: 1px solid #eeeaea;
  width: 100%;
}

.side-bar .form-row input:focus-visible {
  outline: 0px;
}

.side-bar .form-checkbox label {
  font-size: 14px;
  color: var(--grey);
}

.availabitlity-info li {
  margin-bottom: 20px;
}

.modal-highlight-info {
  background-color: #f9f9f9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-highlight-title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 4px 0 1px;
  color: var(--golden-brown);
}

.modal-highlight {
  list-style: none;
  padding: 12px 0;
  margin-bottom: 0;
}

.modal-highlight li i {
  display: inline-block;
  font-size: 16px;
  color: var(--golden-brown);
}

/* .mi-support-call:before {
  content: "\e90f";
}

.mi {
  font-family: 'micon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.cb-modal .cb-close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 16px;
  color: var(--white);
}

.cb-modal #modalCol {
  background-color: var(--golden-brown);
  color: var(--white);
}

.cb-modal .availabitlity-info {
  list-style-type: none;
  text-align: left;
}

.cb-form-modal .iti {
  width: 100%;
}

.cb-modal .cb-form-modal {
  padding: 16px 24px;
}

.cb-form-modal .form-group input {
  border: none;
  border-bottom: 1px solid var(--primary-grey);
  width: 100%;
}

.cb-form-modal .form-group input:focus-visible {
  outline: 0;
}

.cb-form-modal .form-group input:focus {
  box-shadow: none;
}

.cb-modal .modal-request-btn {
  transition: all .3s ease;
  font-size: 15px;
  border-radius: 4px;
}

.cb-modal .modal-request-btn:hover {
  background-color: var(--golden-brown);
  color: var(--white);
  border: none;
  transform: scale(1.08);
  border-radius: 4px;
}

.cb-modal .custom-checkbox {
  text-align: left;
}

.cb-modal .align-self-center {
  padding: 24px 0;
}

.cb-modal .modal-highlight {
  color: var(--golden-brown);
}

.privacy-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: none;
}

.privacy-modal-container .privacy-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
}

.privacy-modal-container .privacy-modal-content {
  width: 700px;
  height: 90%;
  background: var(--white);
  z-index: 99;
  overflow-y: scroll;
  padding: 30px 16px;
  border-radius: 8px;
  position: relative;
}

.privacy-modal-container .privacy-modal-close-btn {
  color: #000;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 24px;
}

body .cb-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: none;
}

body .cb-modal-container.cb-show-modal {
  display: flex;
}

.cb-modal-container .cb-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cb-modal-container.cb-list-modal .cb-modal-content {
  width: 250px;
  padding: 42px 24px 24px;
  border-radius: 12px;
  background: #eee1d5;
  z-index: 99;
  position: relative;
  animation: slideIn 0.2s linear;
}

.cb-modal-container .cb-close-btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 34px;
  padding: 0;
  line-height: 16px;
  font-family: serif;
}

.cb-modal-container.cb-list-modal ul {
  list-style-type: none;
}

.cb-modal-container.cb-list-modal ul a{
  text-decoration: none;
  color: var(--dark-brown);
  font-family: "Poppins", "sans-serif";
}

.header .navbar-toggler{
  border: none;
}

.header .navbar-toggler:focus{
  box-shadow: none;
}

.header .navbar-toggler:focus-visible{
  outline: 0;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes bounceIn {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(240px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
}

@media (max-width:1200px) {
  .project-info h3 {
    font-size: 16px;
  }

  .project-info h2 {
    font-size: 18px;
  }

  .project-info p,
  .project-info span,
  .project-info ul li {
    font-size: 13px;
  }

  .project-info ul+p {
    margin: 0;
  }

  header .navbar-collapse {
    width: calc(100% - 190px);
  }

  .header .navbar-brand {
    width: 190px;
  }

  .header .nav-link {
    font-size: 13px;
  }

  header .navbar-collapse ul {
    padding: 0;
  }
}

@media (max-width:992px) {
  .hero-section .project-info {
    position: static;
    max-width: 100%;
    border-radius: 0;
    padding-top: 32px;
  }

  .side-bar {
    display: none;
  }

  .header,
  .section,
  .hero-section {
    width: 100%;
    overflow: hidden;
  }

  .floorPlan-section .col,
  .floorPlan-section .col-md-4 {
    margin-bottom: 16px;
  }
}

@media (max-width:767px) {
  .privacy-modal-container .privacy-modal-content {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .gallery-section .gallery-image {
    width: 50%;
    margin-bottom: 12px;
  }

  .virtualTour-section .col-sm-6 {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .gallery-section .gallery-image {
    width: 50%;
    margin-bottom: 12px;
  }
}